// 这样子aa是独一无二的
// 一般配合sass来用
// .aa :global(.bb){
//     background-color: pink;
// }

.layout{
    height: 100vh;
    :global{
        .ant-layout{
            height: 100%;
        }
        .ant-layout-header{
            padding: 0;
            position: relative;
        }
         .logo {
            float: left;
            width: 200px;
            height: 60px;
            // margin: 16px 24px 16px 0;
            margin: 2px 0;
            background: url(~assets/logo.png);
            background-size: 200px 60px;
            
          }
          .profile{
            color: #fff;
            font-weight: 700;
            position: absolute;
            right: 20px;
            // span后面的第一个span
            // span ~ span span后面的全部span
            span+span{
                margin-left:20px;
                cursor: pointer;
            }
          }
          
          .ant-row-rtl .logo {
            float: right;
            margin: 16px 0 16px 24px;
          }
          
          .site-layout-background {
            background: #fff;
          }
    }
}